{% extends "base.html" %}
{% block content %}

<h2>Purchases</h2>

<header>
    <h3>Total Amount Spent: £{{ "%.2f"|format(total) }}</h3>
</header>

{% for purchase in purchases %}

<section class = "purchase_box">
    <a href="/purchases/"></a>
    <div class = "purchase_form">Tag</div> {{purchase.tag.tag_name}}
    <div class = "purchase_form">Location</div> {{purchase.place.place_name}}
    <div class = "purchase_form">Price</div> £{{"%.2f"|format(purchase.price)}}
    <a href="/purchases/{{ purchase.id }}/edit" class = "edit_button">Edit</a>
    <form action="/purchases/{{ purchase.id }}/delete" method="POST"><button class="delete_button">Delete</button></form>
    <br>
</section>

{% endfor %}

{% endblock %}


