<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>TBA</title>
</head>
<header class = "front_header">
    <h1>INSERT NAME HERE</h1>
        <nav>
            <ul class = "menu">
                <li><a href="/">Home</a></li>
                <li>
                    Places
                    <ul>
                        <li><a href="/places">View All</a></li>
                        <li><a href="/places/new">Add</a></li>
                    </ul>
                </li>
                <li>
                    Tags
                    <ul>
                        <li><a href="/tags">View All</a></li>
                        <li><a href="/tags/new">Add</a></li>
                    </ul>
                </li>
                <li>
                    Purchases
                    <ul>
                        <li><a href="/purchases">View All</a></li>
                        <li><a href="/purchases/new">Add</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
</header>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

</html>