<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>TBA</title>
</head>
<header>
    <div class = "site_title"> <h1>INSERT NAME HERE</h1> </div>
        <nav>
            <ul class = "menu">
                <li><a href="/" class="button">Home</a></li>
                <div class = header_buttons></div>
                <li>
                    <ul>
                        <li><a href="/places" class="button">View All Locations</a></li>
                        <!-- <li><a href="/places/new">Add Location</a></li> -->
                    </ul>
                </li>
                <li>
                    
                    <ul>
                        <li><a href="/tags" class="button">View All Tags</a></li>
                        <!-- <li><a href="/tags/new">Add Tag</a></li> -->
                    </ul>
                </li>
                <li>
                    
                    <ul>
                        <li><a href="/purchases" class="button">View All Purchases</a></li>
                        <!-- <li><a href="/purchases/new">Add</a></li> -->
                    </ul>
                </div>
                </li>
            </ul>
        </nav>
</header>
<main>
    <li><a href="/tags/new" class="button">Add Tag</a></li>
    <li><a href="/places/new" class="button">Add Location</a></li>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</main>
</html>