{% extends "base.html" %}

{% block content %}
<header>
<div class = "instructions" >
    <p>Welcome to TBA!
    On this site you can track your spending!</p>
</div>
</header>

<main>
    <h2>Add New Purchase</h2>

<form action="/purchases" method="POST">
    <div>
        <label for="tag">What did you buy?:</label>
        <select name="tag_id" id="tag">
            {% for tag in tags %} 
            <option value="{{tag.id}}">{{tag.tag_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="place">Where did you buy it?:</label>
        <select name="place_id" id="place">
            {% for place in places %} 
            <option value="{{place.id}}">{{place.place_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" step="any"> #Work out how to show to 2 decimal places
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</main>
{% endblock %}